<h1><%=@figure.name%></h1>

<% if @figure.titles.empty?%>
  <h3>No Associated Titles</h3>
<%else%>
<h2>Associated Titles</h2>
  <%@figure.titles.each do |title|%>
    <h3><%=title.name%></h3>
  <%end%>
<%end%>


<% if @figure.landmarks.empty?%>
  <h3>No Associated Landmarks</h3>
<%else%>
<h2>Associated Landmarks</h2>
  <%@figure.landmarks.each do |landmark|%>
    <h3><%=landmark.name%> - <%=landmark.year_completed%></h3>
  <%end%>
<%end%>
